# Dependencies
node_modules/
**/node_modules/

# Environment
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

!.env.example

# Next/Vite builds
.next/
dist/
build/
.vite/

# Cache
.cache/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db